article {
  border: solid 2px red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.superheroImg {
  max-width: 100%;
  border: 2px solid pink;
  margin: 0;
}
